{% load static %}

<!-- Modal -->
<div class="modal fade" id="incomeModal" tabindex="-1" aria-labelledby="incomeAddModal" aria-hidden="true">
    <div class="modal-dialog" id="incomeAddDialog" hx-target="this">
    </div>
</div>

<!-- Carousel -->
<div class="carousel-container">
    <div class="carousel-inner">
        <div class="track">
            {%for income in incomes %}
            <div class="card-container">
                <div class="income">
                    <div class="image">
                        <input type="image" src="{% static 'icons/paid_black_24dp.svg' %}" width="100px" hx-get="{% url 'edit_income' id=income.pk %}" hx-trigger="click" hx-target="#incomeAddDialog">
                    </div>
                    <div class="title">{{ income.title }}</div>
                    <div class="total">{{ income.amount }}</div>
                </div>
            </div>
            {% endfor %}
            <div class="card-container">
                <div class="income">
                    <div class="image">
                        <input type="image" src="{% static 'icons/add_circle_outline_black_24dp.svg' %}" width="100px" hx-get="{% url 'add_income' %}" hx-trigger="click" hx-target="#incomeAddDialog">
                    </div>
                    <div class="info">Add</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <button class="prev">
            <span class="material-icons">
                chevron_left
            </span>
        </button>
        <button class="next">
            <span class="material-icons">
                chevron_right
            </span>
        </button>
    </div>
</div>

<script src="{% static 'scripts/incomes.js' %}"></script>