{% extends 'base.html'%}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/incomes.css' %}">
{% endblock %}

{% block content %}

{% include 'budget/income_modal.html' %}
<div class="incomes" hx-get="{% url 'incomes_list' %}" hx-trigger="load, incomeListChange from:body">
    <div class="text-center mt-3">
        <div class="spinner-border" role="status">
          <span class="visually-hidden">Loading...</span>
        </div>
    </div>
</div>
{% endblock %}

{% block scripts %}
{% endblock %}