{% extends 'base.html'%}
{% load static %}

{% block style %}
<link rel="stylesheet" href="{% static 'styles/sources.css' %}">
<link rel="stylesheet" href="{% static 'styles/savings.css' %}">
{% endblock %}

{% block content %}

{% include 'budget/toast.html' %}
{% include 'budget/source_modal.html' %}
{% include 'budget/saving_modal.html' %}
<!-- Sources block -->
<div class="sources" id="sources" hx-get="{% url 'sources_list' %}" hx-trigger="load, sourceListChange from:body">
  <div class="text-center mt-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
  </div>
</div>

<!-- Savings block -->
<div class="savings" id="savings" hx-get="{% url 'savings_list' %}" hx-trigger="load, savingListChange from:body">
  <div class="text-center mt-3">
      <div class="spinner-border" role="status">
        <span class="visually-hidden">Loading...</span>
      </div>
  </div>
</div>
{% endblock %}
{% block scripts %}
<script src="{% static 'scripts/toast.js' %}"></script>
{% endblock %}