{% load static %}

<!-- Carousel -->
<div class="carousel-container">
    <div class="carousel-inner">
        <div class="track">
            {%for saving in savings %}
            <div class="card-container">
                <div class="saving">
                    <div class="image saving" id="{{ saving.pk }}" draggable="true">
                        <img id="{{ saving.pk }}" src="{% static 'icons/account_balance_wallet_black_24dp.svg' %}" alt="{{ saving.title }}" width="100px" hx-get="{% url 'edit_saving' id=saving.pk %}" hx-trigger="click" hx-target="#savingAddDialog">
                    </div>
                    <div class="title">{{ saving.title }}</div>
                    <div class="total">{{ saving.amount }}</div>
                </div>
            </div>
            {% endfor %}
            <div class="card-container">
                <div class="saving">
                    <div class="image add">
                        <img src="{% static 'icons/add_circle_outline_black_24dp.svg' %}" alt="Add" width="100px" hx-get="{% url 'add_saving' %}" hx-trigger="click" hx-target="#savingAddDialog">
                    </div>
                    <div class="info">Add</div>
                </div>
            </div>
        </div>
    </div>
    <div class="nav">
        <button class="prev">
            <span class="material-icons">
                chevron_left
            </span>
        </button>
        <button class="next">
            <span class="material-icons">
                chevron_right
            </span>
        </button>
    </div>
</div>
<!-- End Carousel -->
<script src="{% static 'scripts/savings.js' %}"></script>