.carousel-container {
    width: 1280px;
    margin: 50px auto;
    min-height: 100px;
    position: relative;
}
.carousel-container .inner {
    display: flex;
    overflow: hidden;
}
.carousel-container .track {
    display: inline-flex;
    transition: transform 0.5s;
}
.carousel-container .card-container {
    width: 160px;
    flex-shrink: 0;
    height: 150px;
    padding-right: 15px;
    box-sizing: border-box;
}
.carousel-container .card-container .income {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}