.carousel-container {
    width: 1280px;
    margin: 50px auto;
    min-height: 100px;
    position: relative;
}
.carousel-container .inner {
    display: flex;
    overflow: hidden;
}
.carousel-container .track {
    display: inline-flex;
    transition: transform 0.5s;
}
.carousel-container .card-container {
    width: 160px;
    flex-shrink: 0;
    height: 150px;
    padding-right: 15px;
    box-sizing: border-box;
}
.carousel-container .card-container .income {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
    box-sizing: border-box;
    border: 1px solid #ccc;
}
.income > * {
    flex: 1;
}
.income .image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.income .total {
    text-align: center;
    flex-grow: 0;
    flex-basis: 40px;
    padding: 0px;
    box-sizing: border-box;
}
.income .title {
    text-align: center;
    flex-grow: 0;
    flex-basis: 40px;
    padding: 0px;
    box-sizing: border-box;
}
.income .info {
    text-align: center;
    flex-grow: 0;
    flex-basis: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.nav .prev {
    left: -25px;
}
.nav .next {
    right: -25px;
}
.nav .next.hide {
    visibility: hidden;
}
.nav .prev.show {
    display: block;
}