.income > * {
    flex: 1;
}
.income .image {
    display: flex;
    justify-content: center;
    align-items: center;
}
.income .total {
    text-align: center;
    flex-grow: 0;
    flex-basis: 40px;
    padding: 0px;
    box-sizing: border-box;
}
.income .title {
    text-align: center;
    flex-grow: 0;
    flex-basis: 40px;
    padding: 0px;
    box-sizing: border-box;
}
.income .info {
    text-align: center;
    flex-grow: 0;
    flex-basis: 40px;
    padding: 10px;
    box-sizing: border-box;
}

.nav button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50px;
    height: 50px;
    border-radius: 50%;
    border: 1px solid #aaa;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
}
.nav .prev {
    left: -25px;
}
.nav .next {
    right: -25px;
}
.nav .next.hide {
    visibility: hidden;
}
.nav .prev.show {
    display: block;
}